<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <title>Time Zone calendar</title>
</head>
<body>
    <noscript>
        <strong>We're sorry but youtube-search-app-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <div class="container">
            <div class="row pt-2 pb-2">
                <div class="col-md-12 pt-2">
                    <p v-if="hello">{{ hello }}</p>
                    <p v-if="localDateTime">{{ localDateTime }}</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-2 pb-2">
                <div class="col-md-12 pt-2" v-if="list && list.length && show">
                    <div class="card-block mt-3 mb-3 p-2 border border-primary" v-for="(item, index) in list" :key="index">
                        <h5 class="card-title">
                            Date - {{ item.date }} <span v-if="item.today">(today)</span>
                        </h5>
                        <p class="card-text">
                            Count - {{ item.count }} <br/>
                            AverageQuantity - {{ item.averageQuantity }} <br/>
                            <div v-if="item.today && today && today.length > 0">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="(product, index2) in today" :key="index2">
                                        {{ product.title }} ( {{ product.date }} ) {{ product.date | formatDateLuxon }}
                                    </li>
                                </ul>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div > </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>

    <script>
      new Vue({
        el: '#app',
        data: {
          hello: 'Hello!',
          list: [],
          today: [],
          show: false,
          luxon: null
        },
        filters: {
          formatDateLuxon(value) {
            let DateTime = luxon.DateTime;
            return DateTime.fromISO(value).toLocaleString(DateTime.TIME_24_SIMPLE)
          }
        },
        computed: {
          localDateTime () {
            let DateTime = luxon.DateTime;
            return (DateTime) ? `${DateTime.local().toFormat('MMMM dd, yyyy HH:mm')} ${DateTime.local().zoneName}` : ''
          }
        },
        methods: {
          async loadProducts () {
            let vm = this;
            let DateTime = luxon.DateTime;
            try {
              const response = await axios.get('http://localhost:8081/products_calendar');
              if (response.status === 200 && response.data) {
                vm.list = response.data.products.map((item) => {
                  const date = `${item['_id'].year}-${item['_id'].month}-${item['_id'].day}`;
                  const now = DateTime.local();
                  let today = Math.floor(now.diff(DateTime.fromObject({
                    year: item['_id'].year,
                    month: item['_id'].month,
                    day: item['_id'].day,
                    hour: 0,
                    minute: 0
                  }), 'days').days) === 0;
                  return { title : date, date: date, count: item.count, averageQuantity: item.averageQuantity, today};
                })
              }
            } catch (error) {
              console.error(error);
            }

          },
          async loadTodayProduct() {
            let vm = this;
            try {
              const response = await axios.get('http://localhost:8081/products_today');
              if (response.status === 200 && response.data) {
                vm.today = response.data.products.map((item) => {
                  return { title : item.title, date: item.date, qty: item.qty};
                })
              }
            } catch (error) {
              console.error(error);
            }

          },
          load () {
            let vm = this;
            axios.all([this.loadProducts(), this.loadTodayProduct()])
              .then(axios.spread((acct, perms) => {
                vm.show = true;
              }));
          }
        },
        mounted() {
          this.load();
          this.luxon = luxon.DateTime.local();
        }
      })
    </script>
</body>
</html>
